
<form action="" class="form-signup">  
  <h2 class="form-signup-heading">Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name, "Nombre de Usuario" %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, "Correo Electronico" %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, "Contrasena" %>
      <% if @minimum_password_length %>
      <em>(minimo <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Por favor, Confirmar contrasena" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <br>
    <div>
      <%= f.submit "Crear Cuenta", class: "btn btn-primary" %>
    </div>

    <div class="links">
      <p>Tienes cuenta? Ingresa
      <%= render "devise/shared/links" %>        
      </p>  
    </div>
  <% end %>
</form>