<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">Llevame Contigo</a>
    </div>

      <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= all_posts_posts_path %>">Inicio</a></li>

        
        <li><a href="<%= posts_path %>">Tus Posts</a></li>
        <li><a href="<%= "#" %>">Tus Aportes</a></li>
      </ul>

      <div class="nav navbar-right"> 

        <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></button>

          <ul class="dropdown-menu">
            <li><a href="<%= edit_user_registration_path %>"> Editar Usuarios </a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
        </div>

        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn", type: "button"%>           
      </div>

      <% end %>
    </div>
  </div>
</nav>
