<div class="jumbotron">
  <h1>LlevameContigo</h1>
  <p>Esta pagina esta destinada a trabajar por el bienestar animal y promover el respeto y la tenencia responsable de animales de compañía, especialmente en condición de abandono, rescatando y mejorando las condiciones sanitarias, educando y generando conciencia en la población.</p>
  <p><a class="btn btn-primary btn-lg" href="<%= welcome_about_path %>" role="button">Más información</a></p>
</div>

<div class="row">
  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_1.jpg" , class: 'img-responsive' %>      
    </div>

    <div class="col-xs-12 col-md-6 ">
      <h3>Adopta !!!</h3>
      <p>Si quieres adoptar un perro o un gato, aqui puedes conoceral que sera tu mejor companero durante muchos anos.</p>
    </div> 
  </div>

  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6 text-center">
      <h3>Voluntario</h3>
      <p>Puedes ser voluntario Nodriza. Cuando rescatamos camadas de recien nacidos</p>

      <h3>Socio</h3>
      <p>Agradecemos profundamente la ayuda que logres aportar</p>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_2.jpg" , class: 'img-responsive' %>      
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-xs-12 col-md-6">
      <%= image_tag "welcome/w_3.jpg" , class: 'img-responsive' %>      
    </div>

    <div class="col-xs-12 col-md-6">
      <h3>Publica</h3>
      <p>Comparte informacion sobre las mascotas en situacion de calle.</p>
    </div> 
  </div>
</div>
<footer>
  <%= render 'shared/footerhome' %>      
</footer>