<%= form_tag("", method: :get) do %>
  <%= search_field_tag("q") %>
  <%= submit_tag "Buscar", class: "btn btn-primary" %>
<% end %>
  
<h1>Otros Posts</h1>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Adoption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <td><%= post.title %></td>
        <td><%= image_tag(post.photo.thumb, class: "img-responsive") %></td>
        <td><%= post.description %></td>
        <td><%= post.adoption ? 'Si' : 'No' %></td>
        <td><%= link_to 'Ver Comentarios', post, class: "btn btn-sm btn-primary" %></td>
      </tr>

    <% end %>
  </tbody>
  <%= paginate @posts %>
</table>
  <%= paginate @posts %>

