<!DOCTYPE html>
<html>
  <head>
    <title>Llevamecontigo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>

  	<%= render 'shared/navbarhome' %>
    
    <% else %>

    <%= render 'shared/navbaruser' %>
    
    <% end %>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

  	<div class="container">
  		<%= yield %>
  	</div>
  </body>
</html>
